.section__container {
  justify-content: space-between;
}

.section__container h2 {
  font-family: 'JetBrains Mono';
  font-size: 6.4rem;
  font-weight: 400;
}

.section__container h3 {
  font-family: 'Inika';
  font-size: 3rem;
  font-weight: 400;
  margin-top: 2.6rem;
  margin-bottom: 3.7rem;
  line-height: 4rem;
}

.section__container ul {
  display: flex;
}

.section__container ul li {
  margin: 0 4.1rem 5rem 0;
}

.section__container p, a {
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3rem;
}

.section__container img {
  height: 40rem;
  align-self: center;
}

.swiper__my-resume {
  text-decoration: underline;
}
.swiper__my-resume a {
  color: #000;
}
.swiper__my-resume img {
  height: 2.7rem;
  position: absolute;
  left: 25%;
}